@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Mate+SC&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

html {
    min-height: 100vh;
    margin: 0;
    overflow-x: auto;
}

body {
    min-height: 100vh;
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    flex-wrap: wrap;
    font-size: 16px;
}

/* APP */

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #131212;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  nav {
    padding: 30px;
  }
  
  nav a {
    font-weight: bold;
    color: #131212;
  }

  .wrapper {
    display: grid;
    grid-template-rows: auto minmax(100dvh, 100%) auto
  }

/* Headings */

.headings {
  font-family: "Bona Nova SC", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem;
  color: rgb(29, 29, 29);
}



/* buttons */

.btn {
  background: rgb(0, 43, 29) !important;
  border-radius: none !important;
}

.btn:hover {
  color: #fff;
}

/* content ease in */

@keyframes contentEaseIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
  
}

.content {
  animation: contentEaseIn 0.5s ease-out forwards;
}

