@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Mate+SC&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

body {
    min-height: 100vh;
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    flex-wrap: wrap;
    font-size: 16px;
}

/* APP */

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #131212;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  nav {
    padding: 30px;
  }
  
  nav a {
    font-weight: bold;
    color: #131212;
  }

  .wrapper {
    display: grid;
    grid-template-rows: auto minmax(100dvh, 100%) auto
  }

/* Headings */

.headings {
  font-family: "Bona Nova SC", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem;
  color: rgb(29, 29, 29);
  padding-left: 0;
  padding-right: 0 !important;
  margin-left: 0;
  margin-right: 0;
}



/* buttons */

.btn, select {
  /* background: rgb(0, 43, 29) !important; */
  background: rgb(29, 29, 29) !important;
  border: 2px rgb(29, 29, 29) !important;
  color: #fff !important;
  border-radius: 5px 2px 5px 2px !important;
}

.btn:hover {
  color: #fff;
}

button:hover, select:hover {
  color: #fff;
  background: #000 !important;
}

/* content ease in */

@keyframes contentEaseIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
  
}

/* .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
} */

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.content {
  animation: contentEaseIn 0.5s ease-out forwards;
  width: 100vw !important;
  /* margin-left: 0 !important;
  margin-right: 0 !important; */
  padding-left: 0;
}

/* banner */

/* .banner-row {
  width: 100vw !important;
} */

/* row {
  width: 100%;
  
} */

.banner {
  padding: 0 0 !important;
  object-fit: stretch !important;
  margin-left: 0 ;
}

.home-img-row, .banner-row, .headings-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}


/* media queries */

@media (max-width: 1350px) {
  .products-section {
    margin-top: 12rem !important;
  }
}

/* Medium screens */
@media (max-width: 992px) {
  .title {
    font-size: 4rem;
  }

  .home-img-row {
    top: 15rem;
  }

  .products-section {
    margin-top: 12rem !important;
  }

  .products-div {
    width: 90% !important;
  }
}

/* Small screens */
@media (max-width: 768px) {
  .title {
    font-size: 3rem;
    text-align: center;
  }

  .home-img-row {
    top: 10rem;
  }

  .products-section {
    margin-top: 10rem !important;
  }

  .products-div {
    width: 95% !important;
  }

  .btn {
    width: 100%;
  }

  .headings-row {
    text-align: center;
  }
}


@media (max-width: 575px) {
  .title {
    font-size: 2.5rem;
    text-align: center;
  }

  .home-img-row {
    top: 8rem
  }

  .products-section {
    margin-top: 8rem !important;
  }

  .products-div {
    width: 100% !important;
  }

  .btn {
    width: 100%;
  }

  .headings-row {
    text-align: center;
  }
}


@media (max-width: 330px) {
  .title {
    font-size: 2.2rem;
    text-align: center;
  }

  .home-img-row, .banner-row {
    top: 8rem
  }

  .products-section {
    margin-top: 6rem !important;
  }

  .products-div {
    width: 100% !important;
  }

  .btn {
    width: 100%;
  }

  .headings-row {
    text-align: center;
  }

  .headings {
    font-size: 1.6rem;
    padding: 0 0 !important;
  }

  .text {
    padding: 2rem 3rem !important;
  }
}
